<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

<head th:replace="templates/main :: htmlhead"/>

<body>

<nav th:replace="templates/main :: navigation" />

<div class="container">
    <div class="row">
        <div class="col text-center"><a type="button" th:href="@{/users}" class="btn btn-secondary bg-secondary text-white">Get user list</a></div>
    </div>
</div>

<div th:replace="templates/main :: footer"></div>
</body>
</html>
